@model IEnumerable<Bakery2018.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bakery</h1>
    <p class="lead">Welcome to our Bakery Database</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
